{% extends 'root.html' %}

<!-- Body -->
{% block content %}

<div class="row">
  <div class="col-8">
    <div class="display-2">
      Edit post for {{post.author.first_name}} {{post.author.last_name}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <form id="edit-post">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          value="{{post.title}}"
          class="form-control"
        />
        <label for="content">Content</label>
        <input
          type="text"
          id="content"
          name="content"
          value="{{post.content}}"
          class="form-control"
        />
        <button
          class="btn btn-light"
          formaction="/posts/{{post.id}}"
          formmethod="GET"
        >
          Cancel
        </button>
        <button
          class="btn btn-primary"
          formaction="/posts/{{post.id}}/edit"
          formmethod="POST"
        >
          Edit
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
