{% extends 'root.html' %} {% block content %}
<div class="row">
  <div class="col-12">
    <h2>Users</h2>
    <ul>
      {% for user in users %}
      <li>
        <a href="/users/{{user.id}}"
          >{{ user.first_name }} {{ user.last_name }}</a
        >
      </li>
      {% endfor %}
    </ul>
    
    <!-- Could be just an <a> tag -->
    <form action="/users/new">
      <button class="btn btn-light">Create New User</button>
    </form>
    
  </div>
</div>
{% endblock %}
